<h3>What is a Legend Car ?</h3>
<p>
  It was in April of 1992 that the first Legends Car was unveiled at the Charlotte Motor Speedway. The concept of
  creating a fun and affordable "spec" class of racing for anyone to participate in was born. Legend Cars are 5/8-scale
  fiberglass full-fendered versions of the famed NASCAR modifieds driven by legendary drivers such as Fireball Roberts,
  Buck Baker, Curtis Turner, Speedy Thompson and Banjo Matthews.
</p>
<p>
  Since that time, the Legends Cars have become one of the fastest growing segments of motorsports today. With drivers
  being classified into four different divisions, Legends Cars is THE racing opportunity that is available to anyone!
  The Pro Division is for the experienced drivers. The Masters Division features drivers 40 years and older. The
  Semi-Pro Division is the novice class, featuring the drivers that are new to the sport or have been inactive in other</p>
<p>
  forms of racing for a while. Then there is the Young Lions Division which is designated for the drivers between the
  ages of 12 and 16. Since the car stays the same from division to division, it is the driver that makes the
  difference!
</p>
<p class="image-center">
  <img src="http://www.molegendscars.com/graphics/images/legendscars/37dodgesedan.jpg" alt="Legend cars">
</p>
<p>
  Drivers can be classified into four different divisions. The Pro Division is for the experienced drivers. The Masters
</p>
<p>
  Division features drivers 40 years and older. The Semi-Pro Division is for drivers with less than two years of
  experience in a legends, featuring the drivers that are new to the INEX legends car or have been inactive in other
  forms of racing for a while. Finally, there is the Young Lions Division, which is designated for drivers between the
  ages of 12 and 16. There are separate nationals for dirt and asphalt cars.
</p>
